<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1073CA9C.GithubRSSFeed" Version="1.0.0.0" Publisher="CN=75E5C2E2-A04B-4FD6-B9E6-25B61E5C608B" />
  <Properties>
    <DisplayName>Github RSS Feed</DisplayName>
    <PublisherDisplayName>Codespark</PublisherDisplayName>
    <Logo>images\github\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Github RSS Feed" Logo="images\github\logo.png" SmallLogo="images\github\smalllogo.png" Description="Spark8Rss" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\github\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>